@import url("https://fonts.googleapis.com/css2?family=Kenia&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  padding: 0;
  margin: 0;
}

.navbar {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  background-color: black;
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 1rem;
}

.navbar .navbrand {
  font-size: 25px;
  font-family: "Kenia", sans-serif;
  font-weight: 400;
}

.navbar .navbrand span {
  color: red;
}
