@import url("https://fonts.googleapis.com/css2?family=Kenia&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$fontOne: "Kenia", sans-serif;
$fontTwo: "Roboto", sans-serif;

body {
  padding: 0;
  margin: 0;
}

.navbar {
  font-family: $fontTwo;
  font-weight: 600;
  background-color: black;
  color: white;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  .navbrand {
    font-size: 25px;
    font-family: $fontOne;
    font-weight: 400;

    span {
      color: rgb(255, 57, 57);
    }
  }

  .navlinks {
    display: flex;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      transition: all;
      transition-duration: 0.5s;

      li {
        padding: 1rem;

        a {
          transition: all;
          transition-duration: 0.5s;
          text-decoration: none;
          color: white;
        }
      }

      li:hover {
        cursor: pointer;

        a {
          text-decoration: none;
          color: rgb(255, 61, 61);
        }
      }
    }
  }
}

.navbar.active {
  background-color: rgb(221, 221, 221);
  color: rgb(0, 0, 0);

  .navlinks {
    ul {
      li {
        a {
          color: rgb(5, 5, 5);
        }
      }

      li:hover {
        a {
          text-decoration: none;
          color: rgb(255, 61, 61);
        }
      }
    }
  }
}

@media screen and (max-width: 769px) {
  .navbar {
    padding: 0;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

    .navbrand {
      font-size: 25px;
      font-family: $fontOne;
      font-weight: 400;
    }

    .navlinks {
      text-align: center;
      align-items: center;

      ul {
        li {
          a {
            font-size: 11px;
          }
        }
      }
    }
  }
}

.header-One {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  font-family: $fontTwo;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1701293773241-de1a7bff8e3d?q=80&w=1141&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .head-Wrap {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 5;
    background-color: rgba(87, 86, 86, 0.432);
    color: white;

    h1 {
      font-family: $fontOne;
      font-weight: 200;
      font-size: 3rem;
    }

    p {
      font-family: $fontTwo;
      font-weight: 700;
      font-size: 1rem;
      max-width: 450px;
      color: rgb(0, 0, 0);
    }
  }
}

.header-Two {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  font-family: $fontTwo;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1701001512072-3a232c906443?q=80&w=1172&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .head-Wrap {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 5;
    background-color: rgba(248, 197, 197, 0.432);
    color: rgb(0, 0, 0);

    h1 {
      font-family: $fontOne;
      font-weight: 200;
      font-size: 3rem;
    }

    p {
      font-family: $fontTwo;
      font-weight: 700;
      font-size: 1rem;
      max-width: 450px;
      color: rgb(0, 0, 0);
    }
  }
}
