@import url("https://fonts.googleapis.com/css2?family=Kenia&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  padding: 0;
  margin: 0;
}

.navbar {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  background-color: black;
  color: white;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.navbar .navbrand {
  font-size: 25px;
  font-family: "Kenia", sans-serif;
  font-weight: 400;
}

.navbar .navbrand span {
  color: rgb(255, 57, 57);
}

.navbar .navlinks {
  display: flex;
}

.navbar .navlinks ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  transition: all;
  transition-duration: 0.5s;
}

.navbar .navlinks ul li {
  padding: 1rem;
}

.navbar .navlinks ul li a {
  transition: all;
  transition-duration: 0.5s;
  text-decoration: none;
  color: white;
}

.navbar .navlinks ul li:hover {
  cursor: pointer;
}

.navbar .navlinks ul li:hover a {
  text-decoration: none;
  color: rgb(255, 61, 61);
}

.navbar.active {
  background-color: rgb(221, 221, 221);
  color: rgb(0, 0, 0);
}

.navbar.active .navlinks ul li a {
  color: rgb(5, 5, 5);
}

.navbar.active .navlinks ul li:hover a {
  text-decoration: none;
  color: rgb(255, 96, 96);
}

@media screen and (max-width: 769px) {
  .navbar {
    padding: 0;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .navbar .navbrand {
    font-size: 25px;
    font-family: "Kenia", sans-serif;
    font-weight: 400;
  }

  .navbar .navlinks {
    text-align: center;
    align-items: center;
  }

  .navbar .navlinks ul li a {
    font-size: 11px;
  }
}

.header-One {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1701293773241-de1a7bff8e3d?q=80&w=1141&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header-One .head-Wrap {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: 5;
  background-color: rgba(87, 86, 86, 0.432);
  color: white;
}
